


.row{
    padding: 20px;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;

}
img{
    height: 100px;
    width: 120px;
    padding: 5px;
}
.middle{
    text-align: center;
   
}
